.container {
    input {
        width: 80%;
        margin-bottom: 2%;
        font-size: 2vw;
    }
    background: rgba($color: #000000, $alpha: 0);
    font-size: 1em;
    font-family: "Courier New", Courier, monospace;
    width: 50%;
    table {
        width: 100%;
        border-spacing: 0;
        border: 1px solid black;
        thead {
            font-size: 20px;
            tr {
                th {
                    border: 1px solid black;
                    background-color: #eaf3ff;
                }
            }
        }
        tbody {
            font-weight: 600;
            font-size: 1vw;
            td {
                border: 1px solid black;
                background-color: #ffffff;
                svg {
                    height: 15%;
                    width: 15%;
                    margin-right: 1vw;
                }
            }
        }
    }
}

@media screen and (max-width: 816px) {
    .container {
        input {
            font-size: 3vw;
        }
        padding-top: 10%;
        width: 90%;
        table {
            thead {
                font-size: 5vw;
            }
            tbody {
                font-size: 3vw;
            }
        }
    }
}

@media screen and (max-width: 1440px) and (min-width: 817px) {
    .container {
        width: 90%;
        padding-top: 30%;
        table {
            thead {
                font-size: 2.5em;
            }
            tbody {
                font-size: 1.1em;
            }
        }
    }
}
